body {
  font-family: "Poppins", sans-serif;
}
.navigation {
  margin-bottom: 150px;
}

.nav-menu {
  display: flex;
  justify-content: end;
}

.nav-menu a {
  text-decoration: none;
  padding: 20px;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

#logo {
  color: #1f75fe;
}
#chat {
  background-color: #1f75fe;
  border-radius: 5px;
  color: white;
}
h1 {
  font-size: 80px;
  margin: 0;
}
p {
  font-size: 20px;
  color: gray;
}
#hightlight {
  color: #1f75fe;
}

.btn-main {
  text-decoration: none;
  background-image: linear-gradient(#1f75fe, #7b68ee);
  color: white;
  padding: 20px 50px;
  font-weight: 800px;
  border-radius: 50px;
}
.top-part {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 10%;
}

.half-width img {
  width: 100%;
}
